<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="ir.mservices.market.BILLING" />
    <queries>
        <package android:name="ir.mservices.market" />
        <intent>
            <action android:name="ir.mservices.market.InAppBillingService.BIND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>
</manifest>